html,
body {
   background-color: black;

}
 .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
 
img {
    width: 40%;
}


.navBar__local {
    background-color: black;
}

.form__top{
     border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
}

.form__middle{
    border-radius: 0rem;
}

.form__bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -1px;
    margin-bottom: 5%;

}

.h1__form{
    color:white;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}